@model WrapperCityWeather

@{
    string bgColor = "";
    @if (@Model.BackgrounColorBox != null)
    {
        bgColor = Model.BackgrounColorBox;
    }
}

<div class="box @bgColor">
    <div class="flex-borderless">
        <div class="w-50">
            <h1>@Model.CityWeather?.CityName</h1>
            <p>@Model.CityWeather?.DateAndTime.ToString("hh:mm tt")</p>
            <a href="/weather/@Model.CityWeather?.CityUniqueCode">Details</a>
        </div>
        <div class="border-left w-50">
            <h1 class="margin-left">@Model.CityWeather?.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
        </div>
    </div>
</div>